rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read; // อนุญาตให้อ่านได้ทุกคน (Public)
      allow write: if false; // ห้ามเขียนผ่าน Client (เพื่อความปลอดภัย)
    }
  }
}

